<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KC's Catering</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../static/css/main.css">
  <!-- need to link js sources -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  {% block css %}
  {% endblock css%}
</head>

<body>
  <script src="{{url_for('static', filename='main.js')}}"></script>
  <!--Navbar Section-->
<nav class="navbar">
<div class="navbar_container">
  <a href="#home" id="navbar__logo">KC'S CATERING</a>
  <div class="navbar__toggle" id="mobile-menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <ul class="navbar__menu">
    <li class="navbar__item">
      <a href="#home" class="navbar__link" id="home-page">HOME</a>
    </li>
    <li class="navbar__item">
      <a href="#about" class="navbar__link" id="about-page">ABOUT</a>
    </li>
    <li class="navbar__item">
      <a href="#menu" class="navbar__link" id="menu-page">MENU</a>
    </li>
    <li class="navbar__item">
      <a href="#social" class="navbar__link" id="social-page">SOCIAL</a> 
    </li>
    <li class="navbar__item">
      <a href="#blog" class="navbar__link" id="blog-page">BLOG</a>
    </li>
    <li class="navbar__btn">
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('blog.userProfile', username=current_user.username)}}" class="button" id="sign-in-page">{{ current_user.username }}</a>
      <a href="{{ url_for ('auth.signout') }}" class="button" id="sign-in-page">SignOut</a>
      {% else %}
      <a href="{{ url_for ('auth.signin') }}" class="button" id="sign-in-page">SignIn</a>
      {% endif %}
    </li>
    <li class="navbar__btn">
      <a href="{{ url_for ('auth.register') }}" class="button" id="sign-up-page">SignUp</a>
    </li>
  </ul>
</div>
</nav>
<div class="row justify-content-center">
  {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
          </div> 
 
  {% block content %}
  {% endblock content %} 
  </body>

</body>
</html>