<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KC's Catering</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../static/css/main.css">
  <!-- need to link js sources -->
  {% block css %}
  {% endblock css%}
</head>
<body>
  <!--Navbar Section-->
<nav class="navbar">
<div class="navbar_container">
  <a href="#home" id="navbar__logo">KC'S CATERING</a>
  <div class="navbar__toggle" id="mobile-menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <ul class="navbar__menu">
    <li class="navbar__item">
      <a href="#home" class="navbar__link" id="home-page">HOME</a>
    </li>
    <li class="navbar__item">
      <a href="#about" class="navbar__link" id="about-page">ABOUT</a>
    </li>
    <li class="navbar__item">
      <a href="#menu" class="navbar__link" id="menu-page">MENU</a>
    </li>
    <li class="navbar__item">
      <a href="#social" class="navbar__link" id="social-page">SOCIAL</a> 
    </li>
    <li class="navbar__item">
      <a href="#gallery" class="navbar__link" id="gallery-page">GALLERY</a>
    </li>
    <li class="navbar__btn">
      {% if current_user.is_authenticated %}
      <a href="{{ url_for ('auth.signout') }}" class="button" id="sign-in-page">SignOut</a>
      {% else %}
      <a href="{{ url_for ('auth.signin') }}" class="button" id="sign-in-page">SignIn</a>
      {% endif %}
    </li>
    <li class="navbar__btn">
      <a href="{{ url_for ('auth.register') }}" class="button" id="sign-up-page">SignUp</a>
    </li>
  </ul>
</div>
</nav>
<div class="row justify-content-center">
  {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
          </div> 
  <!--  HOME SECTION -->
  <div class="hero" id="home">
    <div class="hero__container">
      <h1 class="hero__heading"> KC'S <span> CATERING</span></h1>
      <p class="hero__description">CREATING ELEGANT OCCASIONS AND MEMORABLE EVENTS!</p>
      <button class="main__btn"><a href="{{ url_for ('home') }}">PHOTOS</a></button>
    </div>
  </div>

  <!-- About Section -->
  <div class="main" id="about">
    <div class="main__container">
      <div class="main__img--container">
        <div class="main__img--card"><i class="fas fa-layer-group"></i></div>
      </div>
      <div class="main__content">
        <h1>WHAT WE DO?</h1>
        <h4>Baby Showers, Birthdays, Private Dinners, Mobile and Club Catering, Meal Prep and More..</h4>
        <p>Submit order form or call to learn more about our services!</p>
        <button class="main__btn"><a href="#">Submit Order Form</a></button>
      </div>
    </div>
  </div>

  <!-- MENU Section -->
  <div class="services" id="services">
    <h1> Menu Offerings </h1>
    <div class="menu__wrapper">
      <div class="menu__card">
        <h2> Menu 1 </h2>
        <p> Taco Bar </p>
        <div class="menu__btn"><button>CLICK FOR MENU</button></div>
      </div>
      <div class="menu__card">
        <h2> Menu 2 </h2>
        <p> Summer BBQ Slam </p>
        <div class="menu__btn"><button>CLICK FOR MENU</button></div>
      </div>
      <div class="menu__card">
        <h2>Buy It Buy The Pan</h2>
        <p>meal description here</p>
        <div class="menu__btn"><button>CLICK FOR MENU</button></div>
      </div>
      <div class="menu__card">
        <h2>Additional Services</h2>
        <p>Meal Prep Services</p>
        <div class="menu__btn"><button>CLICK FOR MENU</button></div>
      </div>
    </div>
  </div>

  <!--Social Section -->
  <div class="main" id="sign-up">
    <div class="main__container">
      <div class="main__content">
        <h1>Let's Get Social</h1>
        <h2>Our Favorite Drink Pairings For Any Event</h2>
        <p>See what makes us different</p>
        <p>Hire a bartender for your next event!</p>
        <button class="main__btn"><a href="{{ url_for ('auth.register') }}">Sign Up</a></button>
      </div>
      <div class="main__img--container">
        <div class="main__img--card" id="card-2">
          <i class="fas fa-users"></i>
        </div>
      </div>
    </div>
  </div>

   <!--Gallery Section -->
   <div class="services" id="services">
    <h1> GALLERY </h1>
    <div class="menu__wrapper">
      <div class="menu__card">
        <h2> PHOTO 1 </h2>
        <p> PHOTO DESCRIPTION </p>
        <div class="menu__btn"><button>CLICK FOR MENU</button></div>
      </div>
      <div class="menu__card">
        <h2> PHOTO 2 </h2>
        <p> PHOTO DESCRIPTION </p>
        <div class="menu__btn"><button>CLICK FOR MENU</button></div>
      </div>
      <div class="menu__card">
        <h2>PHOTO 3</h2>
        <p>PHOTO DESCRIPTION</p>
        <div class="menu__btn"><button>CLICK FOR MENU</button></div>
      </div>
      <div class="menu__card">
        <h2>PHOTO 4</h2>
        <p>PHOTO DESCRIPTION</p>
        <div class="menu__btn"><button>CLICK FOR MENU</button></div>
      </div>
    </div>
  </div>

  <!-- Footer Section -->
  <div class="footer__container">
    <div class="footer__links">
      <div class="footer__link--wrapper">
        <div class="footer__link--items">
          <h2>About Us</h2>
          <a href="/sign__up">How it works</a> <a href="/">Testimonials</a>
          <a href="/">Careers</a> <a href="/">Terms of Service</a>
        </div>
        <div class="footer__link--items">
          <h2>Contact Us</h2>
          <a href="/">Contact</a> <a href="/">Support</a>
          <a href="/">Destinations</a>
        </div>
      </div>
      <div class="footer__link--wrapper">
        <div class="footer__link--items">
          <h2>Videos</h2>
          <a href="/">Submit Video</a> <a href="/">Ambassadors</a>
          <a href="/">Agency</a>
        </div>
        <div class="footer__link--items">
          <h2>Social Media</h2>
          <a href="/">Instagram</a> <a href="/">Facebook</a>
          <a href="/">Youtube</a> <a href="/">Twitter</a>
        </div>
      </div>
    </div>
    <section class="social__media">
      <div class="social__media--wrap">
        <div class="footer__logo">
          <a href="/" id="footer__logo"> KC'S CATERING </a>
        </div>
        <p class="website__rights">© KC's Catering 2022. All rights reserved</p>
        <div class="social__icons">
          <a href="/" class="social__icon--link" target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a href="/" class="social__icon--link"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="/" class="social__icon--link"
            ><i class="fab fa-youtube"></i
          ></a>
          <a href="/" class="social__icon--link"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="/" class="social__icon--link"
            ><i class="fab fa-twitter"></i
          ></a>
        </div>
      </div>
    </section>
  </div>
  {% block content %}
  {% endblock content %} 
  </body>
  <script src="app.js"></script>
</body>
</html>


  
    
