* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
  }

  /*Navbar section */
  .navbar {
    width: 100%;
   
    background:  #ff8177;
    overflow: auto;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: crimson;
  }
  
  .active {
    background-color: crimson;
  }

  #navbar__logo {
    background-color: black;
    background-image: black;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items:center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }

  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    width: 100%;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 5px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    color: #fff;
    transition: all 0.3s ease;
    
  }
  .navbar__btn {
    padding-bottom: 1.0rem;
  }

  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }


.header {
    padding: 80px;
    text-align: center;
    background: #ff8177;
    color: black;
  }
 
  /* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
  }
  

  /* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }

  /* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color:#ff8177;
    padding: 20px;
    border-top: #aaa;
    border-style:outset;
  }

  /* Main column */
.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: #ffb199;
    padding: 20px;
    border-top: #aaa;
    border-style: inset;
    align-items: center;
   
}

  /* Fake image, just for this example */
.kellieimg {
    background-color:#ff8177;
    width: 100%;
    padding: 20px;
    display: flex;
    width: 100%;
    height: 100%;
 
  }

  .pageimgs {
    width: 100%;
    padding: 20px;
    display: flex;
    width: 100%;
    height: 100%;

  }

  .container .btn{
    margin: 40px 0 70px 0;
    background: #222;
    padding: 15px 40px ;
    border-radius: 5px;
  }
  
  .container .btn a{
   color: #fff;
   font-size: 1.2em;
   text-decoration: none;
   font-weight: bolder;
   letter-spacing: 3px;
  }

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }