{% extends 'components/layout.html' %}


{% block content %}
 <!--  HOME SECTION -->
 <div class="hero" id="home">
    <div class="hero__container">
      <h1 class="hero__heading"> KC'S <span> CATERING</span></h1>
      <p class="hero__description">CREATING ELEGANT OCCASIONS AND MEMORABLE EVENTS!</p>
      <button class="main__btn"><a href="{{ url_for ('photos') }}">PHOTOS</a></button>
    </div>
  </div>

  <!-- About Section -->
  <div class="main" id="about">
    <div class="main__container">
      <div class="main__img--container">
        <div class="main__img--card"><i class="fas fa-layer-group"></i></div>
      </div>
      <div class="main__content">
        <h1>WHAT WE DO?</h1>
        <h4>Baby Showers, Birthdays, Private Dinners, Mobile and Club Catering, Meal Prep and More..</h4>
        <p>Submit order form or call to learn more about our services!</p>
        <button class="main__btn"><a href="https://form.jotform.com/220906527293155">Submit Order Form</a></button>
      </div>
    </div>
  </div>

  <!-- MENU Section -->
  <div class="services" id="services">
    <h1> Menu Offerings </h1>
    <div class="menu__wrapper">
      <div class="menu__card">
        <h2> Menu 1 </h2>
        <p> Taco Bar </p>
        <div class="menu__btn"><button><a href="{{ url_for ('menu') }}">CLICK FOR MENU</a></button></div>
      </div>
      <div class="menu__card">
        <h2> Menu 2 </h2>
        <p> Summer BBQ Slam </p>
        <div class="menu__btn"><button><a href="{{ url_for ('menu') }}">CLICK FOR MENU</a></button></div>
      </div>
      <div class="menu__card">
        <h2>Buy It Buy The Pan</h2>
        <p>meal description here</p>
        <div class="menu__btn"><button><a href="{{ url_for ('menu') }}">CLICK FOR MENU</a></button></div>
      </div>
      <div class="menu__card">
        <h2>Additional Services</h2>
        <p>Meal Prep Services</p>
        <div class="menu__btn"><button><a href="{{ url_for ('menu') }}">CLICK FOR MENU</a></button></div>
      </div>
    </div>
  </div>

  <!--Social Section -->
  <div class="main" id="sign-up">
    <div class="main__container">
      <div class="main__content">
        <h1>Let's Get Social</h1>
        <h2>Our Favorite Drink Pairings For Any Event</h2>
        <p>See what makes us different</p>
        <p>Hire a bartender for your next event!</p>
        <button class="main__btn"><a href="{{ url_for ('auth.register') }}">Inquire Within</a></button>
      </div>
      <div class="main__img--container justify-content-center"> 
        <p style="color:#dd2476"; font><i> "DRINK OF THE MONTH: 155 BELMONT" </i></p> 
        {% for i in range(1) %}
        <div class="main__img--card" id="card-2">    
          <i class="fas fa-users"></i> 
          <img src="{{ drinkrecs[i][1] }}" alt="{{ drinkrecs[i][0] }}" class="card-img-top" alt="{{drinkrecs[i][0] }}">  
        </div>
      </div>
      {% endfor %}
    </div> 
  </div>


   <!--Blog Section -->
   <div class="services" id="services">
    <h1> BLOG WITH US </h1>
    <div class="menu__wrapper">
      <div class="menu__card">
        <h2> TO START BLOGGING </h2>
        <p> INSTRUCTIONS: </p>
        <div class="menu__btn"><button>CLICK FOR MENU</button></div>
      </div>
      <div class="menu__card">
        <h2> PHOTO 2 </h2>
        <p> PHOTO DESCRIPTION </p>
        <div class="menu__btn"><button>CLICK FOR MENU</button></div>
      </div>
      <div class="menu__card">
        <h2>PHOTO 3</h2>
        <p>PHOTO DESCRIPTION</p>
        <div class="menu__btn"><button>CLICK FOR MENU</button></div>
      </div>
      <div class="menu__card">
        <h2>PHOTO 4</h2>
        <p>PHOTO DESCRIPTION</p>
        <div class="menu__btn"><button>CLICK FOR MENU</button></div>
      </div>
    </div>
  </div>

  <!-- Footer Section -->
  <div class="footer__container">
    <div class="footer__links">
      <div class="footer__link--wrapper">
        <div class="footer__link--items">
          <h2>About Us</h2>
          <a href="/sign__up">How it works</a> <a href="/">Testimonials</a>
          <a href="/">Careers</a> <a href="/">Terms of Service</a>
        </div>
        <div class="footer__link--items">
          <h2>Contact Us</h2>
          <a href="/">Contact</a> <a href="/">Support</a>
          <a href="/">Destinations</a>
        </div>
      </div>
      <div class="footer__link--wrapper">
        <div class="footer__link--items">
          <h2>Videos</h2>
          <a href="/">Submit Video</a> <a href="/">Ambassadors</a>
          <a href="/">Agency</a>
        </div>
        <div class="footer__link--items">
          <h2>Social Media</h2>
          <a href="/">Instagram</a> <a href="/">Facebook</a>
          <a href="/">Youtube</a> <a href="/">Twitter</a>
        </div>
      </div>
    </div>
    <section class="social__media">
      <div class="social__media--wrap">
        <div class="footer__logo">
          <a href="/" id="footer__logo"> KC'S CATERING </a>
        </div>
        <p class="website__rights">© KC's Catering 2022. All rights reserved</p>
        <div class="social__icons">
          <a href="/" class="social__icon--link" target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a href="/" class="social__icon--link"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="/" class="social__icon--link"
            ><i class="fab fa-youtube"></i
          ></a>
          <a href="/" class="social__icon--link"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="/" class="social__icon--link"
            ><i class="fab fa-twitter"></i
          ></a>
        </div>
      </div>
    </section>
  </div>
{% endblock content %} 