
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Menu</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/menu.css">
</head>
<body>
  <div class="container">
    <div class="menu">
      <h2 class="menu-group-heading">
        Menu 1-Taco Bar:
      </h2>
      <div class="menu-group">
        <div class="menu-item">
          <img class="menu-item-image" src="static/css/images/tacobar.jpg" alt="Taco Bar">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Meat Selections: Shredded Chicken, Jerk Chicken, Beef</span>
              <span class="menu-item-price">$350.00/50-75 guests</span>
            </h3>
            <p class="menu-item-description">
              All the Fixins: Cheese, Lettuce, Tomato, Onions, Cilantro
              <br>*Jalepenos(optional)</br>
              *Vegetarian(upon request)
            </p>
          </div>
        </div>
        <div class="menu-item">
          <img class="menu-item-image" src="static/css/images/img2.jpg" alt="Cerviche">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Cerviche</span>
              <span class="menu-item-price">$190.00|$95.00</span>
            </h3>
            <p class="menu-item-description">
              Shrimp & Tilapia *market price
              <br>*Other options available upon request and subject to availibility!</br>
            </p>
          </div>
        </div>
        <div class="menu-item">
          <img class="menu-item-image" src="static/css/images/Guacamole.jpg" alt="Homemade Guacamole">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Homemade Guacamole</span>
              <span class="menu-item-price">$35.00|$20.00</span>
            </h3>
            <p class="menu-item-description">
              Avacados, Tomatoes, Cilantro, Lime...
              <br>Small or Large</br>
            </p>
          </div>
        </div>
      </div>
      <h2 class="menu-group-heading">
        Menu 2-Summer BBQ Slam:
      </h2>
      <div class="menu-group">
        <div class="menu-item">
          <img class="menu-item-image" src="static/css/images/bbq1.jpg" alt="BBQ">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Full Pan| BBQ Slam</span>
              <span class="menu-item-price">$260.00</span>
            </h3>
            <p class="menu-item-description">
              Ribs off the slab. Marinated in our specialty bbq sauce. Macaroni & Cheese or Mostaccioli and 
              a Pan of Garden Salad.
            </p>
          </div>
        </div>
        <div class="menu-item">
          <img class="menu-item-image" src="static/css/images/bbq1.jpg" alt="BBQ">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Half Pan| BBQ Slam</span>
              <span class="menu-item-price">$205.00</span>
            </h3>
            <p class="menu-item-description">
              Ribs off the slab. Marinated in our specialty bbq sauce. Macaroni & Cheese and Garden Salad
              
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <h2 class="menu-group-heading">
    Meats-Buy It By The Pan:
  </h2>
  <div class="menu-group">
    <div class="menu-item">
      <img class="menu-item-image" src="static/css/images/bbq1.jpg" alt="BBQ">
      <div class="menu-item-text">
        <h3 class="menu-item-heading">
          <span class="menu-item-name">Full Pan| BBQ Ribs</span>
          <span class="menu-item-price">$120.00</span>
        </h3>
        <p class="menu-item-description">
          Ribs off the slab.
          Marinated in our specialty bbq sauce.
        </p>
      </div>
    </div>
    <div class="menu-item">
      <img class="menu-item-image" src="static/css/images/bbqslam.jpg" alt="BBQ">
      <div class="menu-item-text">
        <h3 class="menu-item-heading">
          <span class="menu-item-name">Half Pan| BBQ Ribs</span>
          <span class="menu-item-price">$80.00</span>
        </h3>
        <p class="menu-item-description">
          Ribs off the slab
          Marinated in our specialty bbq sauce.
        </p>.
      </div>
    </div>
  </div>
</div>

</div>
<h2 class="menu-group-heading">
  Meats-Buy It By The Pan:
</h2>
<div class="menu-group">
  <div class="menu-item">
    <img class="menu-item-image" src="static/css/images/img4.jpg" alt="BBQ">
    <div class="menu-item-text">
      <h3 class="menu-item-heading">
        <span class="menu-item-name">Full Pan| Rib Tips</span>
        <span class="menu-item-price">$135.00</span>
      </h3>
      <p class="menu-item-description">
        Smoked and tender to perfection!
        Marinated in our specialty bbq sauce.
      </p>
    </div>
  </div>
  <div class="menu-item">
    <img class="menu-item-image" src="static/css/images/img4.jpg" alt="BBQ">
    <div class="menu-item-text">
      <h3 class="menu-item-heading">
        <span class="menu-item-name">Half Pan| Rib Tips</span>
        <span class="menu-item-price">$85.00</span>
      </h3>
      <p class="menu-item-description">
        Smoked and tender to perfection!
        Marinated in our specialty bbq sauce.
      </p>
    </div>
  </div>
</div>
</div>

  </div>
  <h2 class="menu-group-heading">
    Meats-Buy It By The Pan:
  </h2>
  <div class="menu-group">
    <div class="menu-item">
      <img class="menu-item-image" src="static/css/images/bbqchickenthighs.jpg" alt="BBQ Chicken">
      <div class="menu-item-text">
        <h3 class="menu-item-heading">
          <span class="menu-item-name">Full Pan| BBQ Chicken</span>
          <span class="menu-item-price">$70.00</span>
        </h3>
        <p class="menu-item-description">
          Full & Half Pans are thighs and legs
          <br>*wings available upon request & at additional charge(subject to market price)</br>
        </p>
      </div>
    </div>
    <div class="menu-item">
      <img class="menu-item-image" src="static/css/images/bbqchickenthighs.jpg" alt="BBQ Chicken">
      <div class="menu-item-text">
        <h3 class="menu-item-heading">
          <span class="menu-item-name">Half Pan| BBQ Chicken</span>
          <span class="menu-item-price">$35.00</span>
        </h3>
        <p class="menu-item-description">
          Full & Half Pans are thighs and legs
          <br>*wings available upon request & at additional charge(subject to market price)</br>
        </p>
      </div>
    </div>
  </div>
</div>

</div>
<h2 class="menu-group-heading">
  Meats-Buy It By The Pan:
</h2>
<div class="menu-group">
  <div class="menu-item">
    <img class="menu-item-image" src="static/css/images/jerkchicken.jpg" alt="Jerk Chicken">
    <div class="menu-item-text">
      <h3 class="menu-item-heading">
        <span class="menu-item-name">Full Pan| Jerk Chicken</span>
        <span class="menu-item-price">$80.00</span>
      </h3>
      <p class="menu-item-description">
        Full & Half Pans are thighs and legs
        <br>*wings available upon request & at additional charge(subject to market price)</br>
      </p>
    </div>
  </div>
  <div class="menu-item">
    <img class="menu-item-image" src="static/css/images/jerkchicken.jpg" alt="jerkchicken">
    <div class="menu-item-text">
      <h3 class="menu-item-heading">
        <span class="menu-item-name">Half Pan| Jerk Chicken</span>
        <span class="menu-item-price">$40.00</span>
      </h3>
      <p class="menu-item-description">
        Full & Half Pans are thighs and legs
        <br>*wings available upon request & at additional charge(subject to market price)</br>
      </p>
    </div>
  </div>
</div>
</div>

</div>
<h2 class="menu-group-heading">
  Sides By The Pan:
</h2>
<div class="menu-group">
  <div class="menu-item">
    <img class="menu-item-image" src="static/css/images/Mostaccioli.jpg" alt="Mostaccioli">
    <div class="menu-item-text">
      <h3 class="menu-item-heading">
        <span class="menu-item-name">Mostaccioli</span>
        <span class="menu-item-price">$80.00|$40.00</span>
      </h3>
      <p class="menu-item-description">
        Full & Half Pans 
        <br>*Beef & Turkey| Or Go Meatless</br>
      </p>
    </div>
  </div>
  <div class="menu-item">
    <img class="menu-item-image" src="static/css/images/Spaghetti.jpg" alt="Spaghetti">
    <div class="menu-item-text">
      <h3 class="menu-item-heading">
        <span class="menu-item-name">Spaghetti</span>
        <span class="menu-item-price">$80.00|$40.00</span>
      </h3>
      <p class="menu-item-description">
        Full & Half Pans 
        <br>*Beef, Turkey, or Meatballs| Or Go Meatless</br>
      </p>
    </div>
 </div>
</div>
</div>

<div class="menu-group">
  <div class="menu-item">
    <img class="menu-item-image" src="static/css/images/pastasalad.jpg" alt="Pasta Salad">
    <div class="menu-item-text">
      <h3 class="menu-item-heading">
        <span class="menu-item-name">Pasta Salad</span>
        <span class="menu-item-price">$70.00|$35.00</span>
      </h3>
      <p class="menu-item-description">
        Full & Half Pans 
       
      </p>
    </div>
  </div>
  <div class="menu-item">
    <img class="menu-item-image" src="static/css/images/img6.jpg" alt="Macaroni & Cheese">
    <div class="menu-item-text">
      <h3 class="menu-item-heading">
        <span class="menu-item-name">Macaroni & Cheese</span>
        <span class="menu-item-price">$80.00|$40.00</span>
      </h3>
      <p class="menu-item-description">
        Full & Half Pans 
       
      </p>
    </div>
  </div>
  <div class="menu-item">
    <img class="menu-item-image" src="static/css/images/egg rolls.jpg" alt="Egg Rolls">
    <div class="menu-item-text">
      <h3 class="menu-item-heading">
        <span class="menu-item-name">Egg Rolls</span>
        <span class="menu-item-price">$5.00 per 2</span>
      </h3>
      <p class="menu-item-description">
        *Egg Rolls sold individually and not by the pan
        <br>*Jerk or Buffalo Chicken| Or Go Meatless</br>
      </p>
    </div>
  </div>
<div class="menu-item">
  <img class="menu-item-image" src="static/css/images/garlicbread.jpg" alt="Garlic Bread">
  <div class="menu-item-text">
    <h3 class="menu-item-heading">
      <span class="menu-item-name">Garlic Bread</span>
      <span class="menu-item-price">$16.00 per loaf</span>
    </h3>
    <p class="menu-item-description">
      *Savory, Buttery Garlic Bread
  
    </p>
  </div>
</div>
</div>
</div>


<div class="menu-group">
  <div class="menu-item">
    <img class="menu-item-image" src="static/css/images/gardensalad.webp" alt="Garden Salad">
    <div class="menu-item-text">
      <h3 class="menu-item-heading">
        <span class="menu-item-name">Garden Salad</span>
        <span class="menu-item-price">$65.00|$32.00</span>
      </h3>
      <p class="menu-item-description">
        Full & Half Pans
        <br>*chicken available upon request & at additional chare(subject to market price)</br>
      </p>
    </div>
  </div>
  <div class="menu-item">
    <img class="menu-item-image" src="static/css/images/ceasarsalad.jpg" alt="Ceasar Salad">
    <div class="menu-item-text">
      <h3 class="menu-item-heading">
        <span class="menu-item-name">Ceasar Salad</span>
        <span class="menu-item-price">$70.00|$35.00</span>
      </h3>
      <p class="menu-item-description">
        Full & Half Pans
        <br>*chicken available upon request & at additional chare(subject to market price)</br>
      </p>
    </div>
  </div>
</div>
</div>


</div>
<h2 class="menu-group-heading">
  Desserts:
</h2>
<div class="menu-group">
  <div class="menu-item">
    <img class="menu-item-image" src="static/css/images/strawberry cheesecake.jpg" alt="Strawberry Cheesecake">
    <div class="menu-item-text">
      <h3 class="menu-item-heading">
        <span class="menu-item-name">Strawberry Cheesecake</span>
        <span class="menu-item-price">$40.00</span>
      </h3>
      <p class="menu-item-description">
        Strawberry and Apple Crumb Cheesecake
      
      </p>
    </div>
  </div>
  <div class="menu-item">
    <img class="menu-item-image" src="static/css/images/applecheescake.jpg" alt="Apple Crumb Cheesecake">
    <div class="menu-item-text">
      <h3 class="menu-item-heading">
        <span class="menu-item-name">Apple Crumb Cheesecake</span>
        <span class="menu-item-price">$40.00</span>
      </h3>
      <p class="menu-item-description">
        Strawberry and Apple Crumb Cheesecake
        
      </p>
    </div>
  </div>
  <div class="menu-item">
    <img class="menu-item-image" src="static/css/images/cupcakes.jpg" alt="Cupcakes">
    <div class="menu-item-text">
      <h3 class="menu-item-heading">
        <span class="menu-item-name">Cupcakes</span>
        <span class="menu-item-price">$35.00/per dozen</span>
      </h3>
      <p class="menu-item-description">
        Full & Half Pans are thighs and legs
        <br>*wings available upon request & at additional charge(subject to market price)</br>
      </p>
    </div>
  </div>
  <div class="menu-item">
    <img class="menu-item-image" src="static/css/images/Ambrosia.jpg" alt="Hawaiian Salad">
    <div class="menu-item-text">
      <h3 class="menu-item-heading">
        <span class="menu-item-name">Hawaiian Salad</span>
        <span class="menu-item-price">$35.00</span>
      </h3>
      <p class="menu-item-description">
        Fruit, Cream Filling, Cocunut and more...
        
      </p>
    </div>
  </div>
</div>










</div>
</body>

</html>





