
{% block css %}
<link rel="stylesheet" href="../static/css/photos.css">
{% endblock css%} 

{% block content %}




<input type = "radio" name="photos" id="check1" checked>
<input type = "radio" name="photos" id="check2">
<input type = "radio" name="photos" id="check3">
<input type = "radio" name="photos" id="check4">

<div class=" container">
    <h1> KCS CATERING PHOTO GALLERY</h1>
    <div class="top-content">
        <h3>PHOTO GALLERY</h3>
        <label for="check1">All Photos|</label>
        <label for="check2">Kitchen|</label>
        <label for="check3">Event|</label>
        <label for="check4">This is Us</label>
        <label for=""></label>
    </div>
    <div class="photo-gallery">
        <div class="pic event">
            <img src ="https://i.ibb.co/9cxn2G7/IMG-4505.jpg">
        </div>
        <div class="pic kitchen">
            <img src ="https://i.ibb.co/1qj67BL/IMG-3020002.jpg">
        </div>
        <div class="pic family">
            <img src ="https://i.ibb.co/XWmJhwd/IMG957694.jpg">
        </div>
        <div class="pic event">
            <img src ="https://i.ibb.co/H2LWCpP/IMG-1501.jpg">
        </div>
        <div class="pic kitchen">
            <img src ="https://i.ibb.co/JHwh5dx/IMG-3021002.jpg">
        </div>
        <div class="pic family">
            <img src ="https://i.ibb.co/XWmJhwd/IMG957694.jpg">
        </div>
        <div class="pic event">
            <img src ="https://i.ibb.co/k8Sp4dX/IMG-1489-Copy-Copy-Copy.jpg">
        </div>
        <div class="pic kitchen">
            <img src ="https://i.ibb.co/6gRTf5W/IMG-4110.jpg">
        </div>
        <div class="pic family">
            <img src ="https://i.ibb.co/XWmJhwd/IMG957694.jpg">
        </div>
        <div class="pic event">
            <img src ="https://i.ibb.co/bbf1skT/20150328.jpg">
        </div>
        <div class="pic kitchen">
            <img src ="https://i.ibb.co/VV863F4/IMG-2909.jpg">
        </div>
        <div class="pic family">
            <img src ="https://i.ibb.co/XWmJhwd/IMG957694.jpg">
        </div>
        <div class="pic event">
            <img src ="https://i.ibb.co/BsX6sVY/2015032895.jpg">
        </div>
        <div class="pic kitchen">
            <img src ="https://i.ibb.co/y6ntD3d/IMG-9968.jpg">
        </div>
        <div class="pic family">
            <img src ="https://i.ibb.co/v304Nhq/IMG953468.jpg">
        </div>
        <div class="pic event">
            <img src ="https://i.ibb.co/BnLsd8t/20210729-011234.jpg">
        </div>
        <div class="pic kitchen">
            <img src ="https://i.ibb.co/kxkNRj9/53-FEEC33.jpg">
        </div>
        <div class="pic family">
            <img src ="">
        </div>
        <div class="pic event">
            <img src ="https://i.ibb.co/RDGtbym/20210729-011224.jpg">
        </div>
        <div class="pic kitchen">
            <img src ="https://i.ibb.co/Fb6XB0J/IMG-7550001.jpg">
        </div>
        <div class="pic family">
            <img src ="">
        </div>
        <div class="pic event">
            <img src ="https://i.ibb.co/QFvhfqg/20210729-011040.jpg">
        </div>
        <div class="pic kitchen">
            <img src ="https://i.ibb.co/162Y2mV/2487-B0-D6.jpg">
        </div>
        <div class="pic family">
            <img src ="https://i.ibb.co/JCcjjJp/20210601-173357.jpg">
        </div>
    </div>


</div>
{% endblock content %} 
