
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KC's Catering</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/photos.css">
  <link rel="stylesheet" href="../static/css/images/">
</head>

<body>
<button class="main__btn, button"><a href="{{ url_for ('home') }}">HOME</a></button>
<h1>GALLERY</h1>
    <!--Image Gallery-->

<div class="slider">
    <h3>Our Photos</h3>
   <span style="--i:1;"><img src="static/css/images/img1.jpg" alt=""></span>
   <span style="--i:2;"><img src="static/css/images/img2.jpg" alt=""></span>
   <span style="--i:3;"><img src="static/css/images/img3.jpg" alt=""></span>
   <span style="--i:4;"><img src="static/css/images/img4.jpg" alt=""></span>
   <span style="--i:5;"><img src="static/css/images/img5.jpg" alt=""></span>
   <span style="--i:6;"><img src="static/css/images/img6.jpg" alt=""></span>
   <span style="--i:7;"><img src="static/css/images/img7.jpg" alt=""></span>
   <span style="--i:8;"><img src="static/css/images/img8.jpg" alt=""></span>
</div>


</body>
</html>

