
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KC's Catering</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha512-L7MWcK7FNPcwNqnLdZq86lTHYLdQqZaz5YcAgE+5cnGmlw8JT03QB2+oxL100UeB6RlzZLUxCGSS4/++mNZdxw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../static/css/photos.css">
  <link rel="stylesheet" href="../static/images">
</head>

<body>
 
  <div class="container">
    <div class="heading">
      <h3>Photo <span>Gallery</span></h3>
    </div>
    <div class="box">
      
      <div class="dream">
        <img src="static/css/images/img1.jpg">
         <img src="static/css/images/img2.jpg">
          <img src="https://i.ibb.co/6gRTf5W/IMG-4110.jpg" alt="IMG-4110" border="0">
           <img src="static/css/images/img4.jpg">
            <img src="static/css/images/img5.jpg">
            
      </div>

        <div class="dream">
        <img src="static/css/images/img6.jpg">
         <img src="static/css/images/img7.jpg">
          <img src="static/css/images/img8.jpg">
           <img src="https://i.ibb.co/kQTXM3Q/IMG-3023002.jpg" alt="IMG-3023002" border="0"> 
            <img src="https://i.ibb.co/kxkNRj9/53-FEEC33.jpg" alt="53-FEEC33" border="0">
            
      </div>

        <div class="dream">
        <img src="https://i.ibb.co/Z8HbPcf/IMG-2908.jpg" alt="IMG-2908" border="0">
          <img src="https://i.ibb.co/drqY3Y4/IMG-9430.jpg" alt="IMG-9430" border="0">
            <img src="https://i.ibb.co/vzYQBPy/IMG-9431001.jpg" alt="IMG-9431001" border="0">
              <img src="https://i.ibb.co/y6ntD3d/IMG-9968.jpg" alt="IMG-9968" border="0">
              <img src="https://i.ibb.co/JHwh5dx/IMG-3021002.jpg" alt="IMG-3021002" border="0">
            
      </div>




    </div>
    <div class="btn">
      <a href="#">More</a>
    </div>





  </div>


</body>
</html>

